.skillBox{
    margin:20px;
}
.introContainer h1,p{
    margin:20px;
}
.skill{
    width:300px;
    height:8px;
    background-color:red;
}
.skillItem{
    margin:10px 0px;
}
.hundred{
    width:300px;
}
.fifty{
    width:150px;
    background-color:blue;
}
.thirty{
    width:100px;
}